@media (max-width:425px) {
   .cabecalho{
      flex-direction: column;
      width: 100%;
   }
   
   .logo{
      display: flex;
      justify-content: space-between;
      width: 90%;
   }
   
   .menu{
      width: 100%;
   }
   
   .menu-navegacao{
      visibility: hidden;
      height: 0;
      transition: 600ms;
      overflow: hidden;
      display: block;
   }
   
   .menu-navegacao.active{
      position: absolute;
      background-color: #ffffff;
      display: block;
      height: 100vh;
      z-index: 1000;
      width: 100%;
      visibility: visible;
      overflow-y: auto;
   }
   
   .menu-navegacao li{
      font-size: 25px;
      padding: 5% 0;
      font-weight: 700;
   }
   
   .link-menu-nav{
      color: var(--teste);
   }
   
   .menu-navegacao li:hover{
      background-color: #686868e8;
   }
   
   #btn-mobile{
      display: block;
      border: none;
      background-color: #171717;
      border-radius: 5px;
   }
   
   .info .container{
      flex-direction: column;
      row-gap: 30px;
      width: 100%;
   }
   
   .apresentacao, .ilustracao-principal,
   .sobre-mim{
      width: 90%;
      text-align: center;
      margin: 0 auto;
   }
   
   .conteudo-icon{
      flex-direction: column;
   }
   
   .conteudo-projetos .container{
      flex-direction: column;
   }
   
   .link-projeto{
      width: 100%;
   }
   
   .conteudo-academico .container{
      flex-direction: column;
      row-gap: 30px;
   }
   
   .card-academico{
      width: 100%;
   }
   
   .bt-academico{
      margin: 15% 0;
      font-size: 14px;
   }
   
   .bt-certificados{
      padding: 2% 3%;
      font-size: 13px;
   }
}