@media (max-width:425px) {
   .cabecalho{
      flex-direction: column;
      width: 100%;
   }
   
   .cabecalho .container{
      width: 100%;
      flex-direction: column;
   }
   
   .logo{
      display: flex;
      justify-content: space-between;
      width: 90%;
   }
   
   .menu{
      width: 100%;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
   }
   
   .menu-navegacao{
     visibility: hidden;
     height: 1px;
     overflow: hidden;
     transition: 250ms;
     display: flex;
     flex-direction: column;
   }
   
   .menu-navegacao.active{
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      transition: 250ms;
   }
   
   .menu-navegacao li{
      width: 100%;
      font-weight: 700;
      text-align: center;
      padding: 1.5% 0;
      background-color: var(--teste);
      border-bottom: 1px solid #898989;
   }

   .link-menu-nav{
      color: var(--text_title);
      font-size: 16px;
   }
   
   .menu-navegacao li:hover{
      background-color: #686868e8;
   }
   
   .bt-mobile{
      display: block;
      border: none;
      background-color: #171717;
      border-radius: 5px;
      z-index: 1000;
   }
   
   .titulo-tema{
      color: var(--text_title);
      font-size: 15px;
   }
   
   
   /* ####################################### */
   .info .container{
      flex-direction: column;
      row-gap: 15px;
      width: 100%;
   }
   
   .apresentacao, .ilustracao-principal,
   .sobre-mim{
      width: 90%;
      text-align: center;
      margin: 0 auto;
   }
   
   .redes-sociais{
      flex-direction: column;
   }
   
   .conteudo-projetos .container{
      flex-direction: column;
      height: 300px;
   }
   
   .container.container-ativo{
      height: auto;
   }   
   
   .link-projeto{
      width: 100%;
   }
   
   .conteudo-academico .container{
      flex-direction: column;
      row-gap: 30px;
   }
   
   .card-academico{
      width: 100%;
   }
   
   .bt-academico{
      margin: 15% 0;
      font-size: 14px;
   }
   
   .bt-certificados{
      padding: 2% 3%;
      font-size: 13px;
   }
}