html{
   scroll-behavior: smooth;
   --bg:#171717;
   --text_title: #f9f9f9;
   --blue: #0086df;
   --bg_card: #212121;
   --borda_card: #383838;
   --text_texto: #828282;
}

.claro{
   --bg:#f9f9f9;
   --text_title: #000000;
   --blue: #0086df;
   --bg_card: #eeeeee;
   --borda_card: #c0c0c0;
   --text_texto: #000000;
}

a{
   text-decoration: none;
}

.corpo{
   background-color: var(--bg);
   font-family: 'DM Sans', sans-serif;
}

.cabecalho{
   width: 90%;
   margin: 3% auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.titulo-cabecalho{
   font-size: 29px;
   font-weight: 700;
}

.menu{
   width: 35%;
}

.menu-navegacao{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu-navegacao li{
   text-align: center;
   font-size: 16px;
}

.link-menu-nav{
   text-decoration: none;
   color: var(--text_title);
}

.link-menu-nav:hover{
   border-bottom: #0086df 2px solid;
   transition: 100ms;
}

.tema{
   text-align: center;
}

.bt-tema{
   width: 25px;
   height: 30px;
}

.bt-tema:hover{
   cursor: pointer;
}

.titulo-tema{
   color: var(--text_title);
   font-size: 12px;
}



/*###################### INFO ######################*/
.info{
   width: 90%;
   margin: 8% auto;
}

.info .container{
   display:flex;
   justify-content: space-between;
   margin: 5% auto;
}

.apresentacao{
   width: 27%;
}

.titulo-principal{
   color: var(--text_title);
   font-size: 36px;
   font-weight: 800;
   line-height: 1.2em;
}

.sub-titulo-principal{
   color: #828282;
   font-size: 18px;
   font-weight: 500;
}

.botao{
   margin-top: 8%;
}

.bt-download{
   width: 40%;
   height: 40px;
   background-color: var(--blue);
   color: #ffffff;
   border:1px solid #333333;
   font-family: 'DM Sans', sans-serif;
   border-radius: 3px;
   font-weight: 500;
   margin-right: 2%;
   min-width: fit-content;
}

.bt-contato{
   width: 40%;
   height: 40px;
   background-color: #171717;
   color: #ffffff;
   border:1px solid #333333;
   font-family: 'DM Sans', sans-serif;
   font-weight: 500;
   border-radius: 3px;
   min-width: fit-content;
}


.bt-contato:hover{
   background-color: #2e2e2e;
   transition: 450ms;
   cursor: pointer;
}

.bt-download:hover{
   background-color: #5eade2;
   transition: 450ms;
   cursor: pointer;
}

.ilustracao-principal{
   width: 35%;
   height: fit-content;
}


/* ###################### Sobre mim ##################### */ 
.sobre-mim{
   width: 50%;
   text-align: center;
   margin: 5% auto;
}

.titulo-sobre-mim{
   font-size: 30px;
   line-height: 1.8em;
   font-weight: bold;
   color: var(--text_title);
}

.texto-sobre-mim{
   color:#828282;
   line-height: 1.4em;
}


/*###################### Icones de Contato ###################### */
.conteudo-icon{
   display: flex;
   width: 70%;
   justify-content: space-between;
   margin: 8% auto;
   text-align:center;
   line-height: 1.2em;
}

.card-perfil{
   border: 1px solid transparent;
   padding: 8px;
}

.card-perfil:hover{
   border: 1px solid #0086dfcc;
   border-radius: 5px;
   cursor: pointer;
   transition: 700ms;
   box-shadow: 0px 0px 5px #0086dfa8;
}

.titulo-card{
   font-size: 16px;
   color: #F9F9F9;
}

.subtitulo-card ,.link-icon{
   font-size: 13px;
   color:#828282;
}

.card-perfil img{
   width: 26px;
   height: 26px;
}


/* ###################### Projetos ###################### */
.conteudo-projetos{
   width: 90%;
   margin: 5% auto;
}

.conteudo-projetos .container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   flex-direction: row;
   row-gap: 25px;
}

.titulo-principal-projetos{
   color: var(--text_title);
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   margin-top: 10%;
   line-height: 1.8em;
}

.link-projeto{
   width: 30%;
   text-decoration: none;
   color: inherit;
}

.card-projetos{
   background-color: var(--bg_card);
   border: 1px solid;
   border-color: var(--borda_card);
   margin-bottom: 3%;
}

.card-projetos:hover{
   transform: scale(102%);
   transition: 250ms;
   cursor: pointer;
}

.projeto{
   background-color: #171717;
   width: 80%;
   height: 130px;
   border: 1px solid;
   border-color: var(--borda_card);
   margin: 6% auto 2%;
}

.img-previa-projeto{
   width: 100%;
   height: 130px;
}

.titulo-projetos{
   font-size: 16px;
   font-weight: 500;
   margin: 5% auto 0;
   width: 85%;
   color: var(--text_title);
}

.texto-projetos{
   font-size: 14px;
   color: #828282;
   margin: 2% auto 10%;
   width: 85%;
}


/* ###################### Academico ###################### */
.conteudo-academico{
   width: 90%;
   margin: 0 auto;
   color: var(--text_title);
}

.conteudo-academico .container{
   display: flex;
   justify-content: space-evenly;
}

.titulo-principal-academico{
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   margin: 10% auto 3%;
   line-height: 1.8em;
}

.card-academico{
   width: 350px;
   height: 180px;
   background-color: var(--bg_card);
   outline: #333333 solid 1px;
   outline-color: var(--borda_card);
   border-bottom: 4px solid transparent;
   font-size: 15px;
}

.titulo-card-academico{
   font-size: 20px;
   font-weight: 500;
   text-align: center;
   width: 100%;
   padding-top: 15px;
}

.card-academico:hover{
   border-bottom: 4px solid #0086df;
   transition: 150ms;
}

.lista-de-curso{
   margin: 4% 10% 0;
   list-style: disc;
   line-height: 1.4em;
}

.lista-de-curso li:hover{
   transition: 450ms;
   color: #0086df;
}

.lista-de-curso li a{
   color: var(--text_texto);
}

.lista-de-curso li a:hover{
   text-decoration: underline;
   transition: 450ms;
}

.bt-academico{
   width: 100%;
   margin: 8% 0;
   text-align: center;
}

.bt-certificados{
   text-decoration: none;
   align-items: center;
   color: #ffffff;
   background-color: #0086df;
   padding: 1% 5%;
   border-radius: 5px;
}

.bt-certificados:hover{
   background-color: #5eade2;
   transition: 450ms;
}


/* ###################### Rodape ###################### */
.rodape{
   width: 100%;
   height: 25px;
   background-color: var(--bg);
   border-top: 1px solid;
   border-color: var(--borda_card);
}

.titulo-principal-rodape{
   color: var(--text_texto);
   text-align: center;
   font-size: 13px;
   margin-top: 3px;
}


